<div class="filtro__historial">
    <div>
        <h4 class="texto__opciones">Desde</h4>
        <input class="opcion__date" type="date">
    </div>
    <div>
        <h4 class="texto__opciones">Hasta</h4>
        <input class="opcion__date" type="date">
    </div>
    <div>
        <h4 class="texto__opciones">Servicios</h4>
        <select class="opciones__multiples" name="" id="">
            <option value="Todos">Todos</option>
            <option value="Cargues">Cargues</option>
            <option value="Descargues">Descargues</option>
        </select>
    </div>
    <div>
        <h4 class="texto__opciones">Estado</h4>
        <select class="opciones__multiples" name="" id="">
            <option value="Todos">Todos</option>
            <option value="Finalizados">Finalizados</option>
            <option value="Cancelados">Cancelados</option>
        </select>
    </div>
    <button class="boton__busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
<div>
    <h3 class="titulo__filtro">Filtro de historial</h3>
</div>